.portfolio__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 70px;
}

.portfolio__header {
    margin: 0 0 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #8B8B8B;
}

.portfolio__list {
    padding: 0;
    list-style: none;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 0 125px;
}

.portfolio__item {
    border-bottom: #424242 solid 1px;
    padding-bottom: 19px;
    display: flex;
}

.portfolio__item:hover {
    opacity: 0.7;
}

.portfolio__item:last-child {
    border-bottom: none;
}

.portfolio__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.04em;
    width: 100%;
    transition: .2s;
}

.portfolio__link:hover {
    opacity: 0.7;
}

.portfolio__link-text {
    margin: 0;
}

.portfolio__link-span {
    font-size: 16px;
    letter-spacing: 0;
    color: #8B8B8B;
    margin-left: 12px;
}

.portfolio__contacts-arrow {
    max-width: 29px;
    max-height: 60px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .portfolio__container {
        padding: 0 50px 90px;
    }

    .portfolio__list {
        margin: 0;
    }

    .portfolio__link {
        font-size: 28px;
    }

    .portfolio__contacts-arrow {
        max-width: 27px;
        max-height: 60px;
    }
}

@media screen and (max-width: 767px) {
    .portfolio__container {
        padding: 0 14px 70px;
    }

    .portfolio__list {
        margin: 0;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio__contacts-arrow {
        max-width: 18px;
        max-height: 28px;
    }
}
