.page {
    background-color: #202020;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    min-height: 100vh;
}

fieldset {
    border:0 none;
}
