.header {
    width: 100%;
}

.header_theme_light {
    background-color: #073042;
}

.header_theme_dark {
    background-color: #202020;
}

.header__container {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    min-width: 320px;
    margin: 0 auto;
    padding: 18px 70px;
}

.header__logo {
    max-width: 38px;
    max-height: 38px;
}

.header__button_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 3px;
    padding: 8px 20px;
    transition: .2s;
}

.header__button:hover {
    opacity: 0.7;
}

.header__button_signup {
    color: white;
    padding-right: 30px;
}

.header__button_signin {
    color: black;
    background-color: #3ddc84;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .header__container {
        padding: 18px 30px;
    }
}

@media screen and (max-width: 767px) {
    .header__container {
        padding: 18px 14px;
    }

    .header__button_signup {
        padding-right: 14px;
    }

    .header__button {
        font-size: 10px;
        padding: 5px 12px;
    }
}

