.burger-menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.burger-menu__button {
    background-image: url("../../images/burger.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 28px;
    height: 28px;
    transition: .2s;
}

.burger-menu__button:hover {
    opacity: 0.7;
}

@media screen and (min-width: 1024px) {
    .burger-menu {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .burger-menu__button {
        width: 22px;
        height: 22px;
    }
}