.about-project__container {
    max-width: 1140px;
    min-width: 320px;
    margin: 0 auto;
    padding: 110px 70px;
}

.about-project__header {
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    color: white;
    margin: 0;
    border-bottom: 1px solid #dadada;
    padding: 0 0 23px;
    letter-spacing: -0.04em;
}

.about-project__list {
    display: flex;
    margin: 70px 0 110px;
    color: white;
    list-style: none;
    padding: 0;
}

.about-project__list-item {
    max-width: 550px;
}

.about-project__list-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 26px;
    letter-spacing: -0.04em;
}

.about-project__list-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.about-project__container-scheme {
    display: flex;
}

.about-project__container-backend {
    width: 228px;
}

.about-project__container-frontend {
    width: 912px;
}

.about-project__container-scheme-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 9px 0 9px;
}

.about-project__container-title_backend {
    color: black;
    background-color: #3DDC84;
}

.about-project__container-title_frontend {
    color: white;
    background-color: #303030;
}

.about-project__container-description {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #8B8B8B;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 14px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .about-project__container {
        padding: 90px 50px;
    }

    .about-project__header {
        padding: 0 0 22px;
    }

    .about-project__list {
        justify-content: space-between;
        margin-bottom: 93px;
    }

    .about-project__list-item {
        max-width: 319px;
    }

    .about-project__list-title {
        margin: 0 0 22px;
    }

    .about-project__list-text {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 767px) {
    .about-project__container {
        padding: 70px 18px;
    }

    .about-project__header {
        padding: 0 0 28px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-project__list {
        flex-direction: column;
        margin: 60px 0;
        width: 100%;
    }

    .about-project__list-item {
        padding-bottom: 56px;
    }

    .about-project__list-item:last-child {
        padding-bottom: 0;
    }

    .about-project__list-title {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 16px;
    }

    .about-project__list-text {
        font-size: 11px;
        line-height: 16px;
    }

    .about-project__container-scheme-title {
        font-size: 11px;
        line-height: 13px;
        padding: 10px 0 9px;
    }

    .about-project__container-description {
        font-size: 11px;
        line-height: 12px;
        padding-top: 10px;
    }
}