.footer__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 79px 70px 20px;
}

.footer__text {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #8B8B8B;
    text-align: center;
    border-bottom: #424242 solid 1px;
    padding: 0 0 20px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0;
}

.footer__copyright {
    margin: 0;
    color: white;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.footer__contacts-list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
}

.footer__contacts-link {
    color: white;
    text-decoration: none;
    transition: .2s;
}

.footer__contacts-link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .footer__container {
        padding: 79px 30px 20px;
    }
}

@media screen and (max-width: 767px) {
    .footer__container {
        padding: 79px 10px 10px;
    }

    .footer__text {
        font-size: 12px;
        line-height: 14px;
        padding: 0 0 20px;
    }

    .footer__info {
        flex-direction: column;
        margin: 30px 0 0;
        text-align: center;
    }

    .footer__contacts-list {
        flex-direction: column;
        order: 1;
        gap: 12px;
        font-size: 12px;
        padding: 0;
    }

    .footer__copyright {
        order: 2;
        color: #8B8B8B;
        font-size: 12px;
        line-height: 14px;
        margin: 30px 0 0;
    }
}