.techs {
    background-color: #272727;
}

.techs__container {
    max-width: 1140px;
    margin: 0 auto;
    color: white;
    letter-spacing: -0.04em;
}

.techs__header {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    border-bottom: 1px solid #dadada;
    padding: 100px 0 23px;
}

.techs__title {
    margin: 90px 0 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
}

.techs__description {
    margin: 26px auto 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    max-width: 460px;
}
