.techs {
    background-color: #272727;
}

.techs__container {
    max-width: 1140px;
    margin: 0 auto;
    color: white;
    letter-spacing: -0.04em;
    padding-bottom: 100px;
    border: purple solid 1px;
}

.techs__header {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    border-bottom: 1px solid #dadada;
    padding: 100px 0 23px;
}

.techs__title {
    margin: 90px 0 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
}

.techs__description {
    margin: 26px auto 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    max-width: 460px;
}

.techs__list {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 100px 0 0;
}

.techs__item-text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.04em;
    padding: 21px 22px 21px 26px;
    background-color: #303030;
    border-radius: 10px;
    text-align: center;
}